<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.op.sfdx</string>
	<key>category</key>
	<string>Development</string>
	<key>connections</key>
	<dict>
		<key>277CAAF2-BC0A-4A83-8FE3-3E0F3DEAFF42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F07F347E-EC9F-46CC-AF1B-75EE1416FC16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>11E3F941-ABDE-4D04-AC32-CB01F6B28843</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2830AA5E-5471-4CB0-9997-3CE10E7366F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FA94162D-D1C1-4689-82BE-3D122AD94AA6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3AEE38FC-616A-4153-ACD7-65A37030B05F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9E0F9AB7-6B2A-4D07-A80C-E147EED04827</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EB47255F-26F6-4366-9811-1D663A29E1DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F3FA9154-3784-49BB-8528-71557A15BD60</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2830AA5E-5471-4CB0-9997-3CE10E7366F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F436BE5B-8C3D-47E8-9A07-2EA3EC0ED37C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3AEE38FC-616A-4153-ACD7-65A37030B05F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>602C3D28-17D2-4B1F-B788-D0A96EF28584</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4BE66369-EDC7-41F8-A75C-3FBFF6EFB7E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69BB2A4B-A7E0-4FD0-9287-C959D3D02DE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9D47EFBE-D301-4F60-B7DE-BB1F92D40AB9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>95822C22-1980-4E39-B7B7-3BCC0C802965</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A62520E-AC11-4D73-958C-50E0A429F127</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0B0AA7A-4BE9-4666-86C4-FFE54BAFD0BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>602C3D28-17D2-4B1F-B788-D0A96EF28584</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69BB2A4B-A7E0-4FD0-9287-C959D3D02DE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E8DDD4EA-BCBF-4E99-97FB-231D1B44365E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>72F3B05C-CB19-4911-9929-55604EAC3B55</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B2F084DF-11C7-4BE5-9FF1-817126C9F77B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>700FFC44-483B-4E84-AF40-C94F3A3C1A3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADAF2130-ABB2-4C95-9162-EDF4303930A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72F3B05C-CB19-4911-9929-55604EAC3B55</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9370FD51-0EDB-44CD-93D0-23F8A9FF8F5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9370FD51-0EDB-44CD-93D0-23F8A9FF8F5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69BB2A4B-A7E0-4FD0-9287-C959D3D02DE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5B48BA5D-E0A2-4B2D-9FF1-806AA6779F3E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F2637605-829D-4FF8-9ABE-36777000F685</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3561879D-DB9F-487F-95AC-873B9C0FA9D0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADAF2130-ABB2-4C95-9162-EDF4303930A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB45C395-9564-4CB1-A5A4-60AA509B4F17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C39FD540-51F2-4574-88AC-21261776A117</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F359ED22-BB85-478B-BC56-A95D992AF1F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>69BB2A4B-A7E0-4FD0-9287-C959D3D02DE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E40AB2FF-290A-4082-80AE-0817F00A943E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB47255F-26F6-4366-9811-1D663A29E1DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A62520E-AC11-4D73-958C-50E0A429F127</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFDB9924-0B68-4DF4-BA83-E3AE64831F5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>277CAAF2-BC0A-4A83-8FE3-3E0F3DEAFF42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F07F347E-EC9F-46CC-AF1B-75EE1416FC16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F436BE5B-8C3D-47E8-9A07-2EA3EC0ED37C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2637605-829D-4FF8-9ABE-36777000F685</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BE66369-EDC7-41F8-A75C-3FBFF6EFB7E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F436BE5B-8C3D-47E8-9A07-2EA3EC0ED37C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>700FFC44-483B-4E84-AF40-C94F3A3C1A3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1425ADE9-A613-4148-BE4E-FA2CC1A0DBFC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BB45C395-9564-4CB1-A5A4-60AA509B4F17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7EEF4C6F-9336-44F7-AFF6-C2B981C9B20E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>44C4CA1D-0680-4EA4-99F5-2C95280BF0F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5F90BE3A-E757-4F0B-8568-CA839533C1AA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>69BB2A4B-A7E0-4FD0-9287-C959D3D02DE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>37D868A6-7F8B-4344-8626-D14AA5DE9308</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Oliver.Preuschl</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SFDX</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node sfdxOrgDisplay.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Getting Org Details...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>700FFC44-483B-4E84-AF40-C94F3A3C1A3D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>sfdx:org:open\s+\S*</string>
						<key>outputlabel</key>
						<string>sfdx:org:open</string>
						<key>uid</key>
						<string>C39FD540-51F2-4574-88AC-21261776A117</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sfdx</string>
						<key>outputlabel</key>
						<string>sfdx</string>
						<key>uid</key>
						<string>E40AB2FF-290A-4082-80AE-0817F00A943E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>ADAF2130-ABB2-4C95-9162-EDF4303930A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node sfdxOrgScratch.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Searching Scratch Orgs...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F07F347E-EC9F-46CC-AF1B-75EE1416FC16</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node sfdxOrgOpen.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BB45C395-9564-4CB1-A5A4-60AA509B4F17</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>sfdx:org:display\s+\S*</string>
						<key>outputlabel</key>
						<string>sfdx:org:display</string>
						<key>uid</key>
						<string>1425ADE9-A613-4148-BE4E-FA2CC1A0DBFC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>sfdx:org:open\s+\S*</string>
						<key>outputlabel</key>
						<string>sfdx:org:open</string>
						<key>uid</key>
						<string>7EEF4C6F-9336-44F7-AFF6-C2B981C9B20E</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>sfdx:config:set:defaultdevhubusername\s+\S*</string>
						<key>outputlabel</key>
						<string>sfdx:config:set:defaultdevhubusername</string>
						<key>uid</key>
						<string>5F90BE3A-E757-4F0B-8568-CA839533C1AA</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sfdx</string>
						<key>outputlabel</key>
						<string>sfdx</string>
						<key>uid</key>
						<string>37D868A6-7F8B-4344-8626-D14AA5DE9308</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F436BE5B-8C3D-47E8-9A07-2EA3EC0ED37C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node sfdxConfigSetDefaultDevHubUsername.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>44C4CA1D-0680-4EA4-99F5-2C95280BF0F4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node sfdxOrgConnected.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Searching Connected Orgs...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2830AA5E-5471-4CB0-9997-3CE10E7366F6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sfdx:org:scratch </string>
						<key>outputlabel</key>
						<string>sfdx:org:scratch</string>
						<key>uid</key>
						<string>11E3F941-ABDE-4D04-AC32-CB01F6B28843</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sfdx:org:connected </string>
						<key>outputlabel</key>
						<string>sfdx:org: connected</string>
						<key>uid</key>
						<string>FA94162D-D1C1-4689-82BE-3D122AD94AA6</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sfdx:package </string>
						<key>outputlabel</key>
						<string>sfdx:package</string>
						<key>uid</key>
						<string>9E0F9AB7-6B2A-4D07-A80C-E147EED04827</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sfdx:clearcache</string>
						<key>outputlabel</key>
						<string>sfdx:clearcache</string>
						<key>uid</key>
						<string>F3FA9154-3784-49BB-8528-71557A15BD60</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>277CAAF2-BC0A-4A83-8FE3-3E0F3DEAFF42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>sfdx</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Initializing...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>SFDX</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EFDB9924-0B68-4DF4-BA83-E3AE64831F5E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F359ED22-BB85-478B-BC56-A95D992AF1F1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>sfdx</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>69BB2A4B-A7E0-4FD0-9287-C959D3D02DE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node sfdxPackageVersion.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Searching Package Versions...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>72F3B05C-CB19-4911-9929-55604EAC3B55</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node sfdxPackageVersionReport.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Getting Package Details...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F2637605-829D-4FF8-9ABE-36777000F685</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node sfdxPackage.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Searching Packages...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3AEE38FC-616A-4153-ACD7-65A37030B05F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>sfdx:package:version:report\s+\S*</string>
						<key>outputlabel</key>
						<string>sfdx:package:version</string>
						<key>uid</key>
						<string>3561879D-DB9F-487F-95AC-873B9C0FA9D0</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sfdx</string>
						<key>outputlabel</key>
						<string>sfdx</string>
						<key>uid</key>
						<string>5B48BA5D-E0A2-4B2D-9FF1-806AA6779F3E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>9370FD51-0EDB-44CD-93D0-23F8A9FF8F5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>95822C22-1980-4E39-B7B7-3BCC0C802965</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sfdx</string>
						<key>outputlabel</key>
						<string>sfdx</string>
						<key>uid</key>
						<string>9D47EFBE-D301-4F60-B7DE-BB1F92D40AB9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4BE66369-EDC7-41F8-A75C-3FBFF6EFB7E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>sfdx:package:version\s+\S*</string>
						<key>outputlabel</key>
						<string>sfdx:package:version</string>
						<key>uid</key>
						<string>B2F084DF-11C7-4BE5-9FF1-817126C9F77B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sfdx</string>
						<key>outputlabel</key>
						<string>sfdx</string>
						<key>uid</key>
						<string>E8DDD4EA-BCBF-4E99-97FB-231D1B44365E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>602C3D28-17D2-4B1F-B788-D0A96EF28584</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node sfdxClearCache.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EB47255F-26F6-4366-9811-1D663A29E1DF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Cache was cleared</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5A62520E-AC11-4D73-958C-50E0A429F127</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>sfdx</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>A0B0AA7A-4BE9-4666-86C4-FFE54BAFD0BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>277CAAF2-BC0A-4A83-8FE3-3E0F3DEAFF42</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>2830AA5E-5471-4CB0-9997-3CE10E7366F6</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>3AEE38FC-616A-4153-ACD7-65A37030B05F</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>44C4CA1D-0680-4EA4-99F5-2C95280BF0F4</key>
		<dict>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>4BE66369-EDC7-41F8-A75C-3FBFF6EFB7E1</key>
		<dict>
			<key>xpos</key>
			<integer>1825</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
		<key>5A62520E-AC11-4D73-958C-50E0A429F127</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>602C3D28-17D2-4B1F-B788-D0A96EF28584</key>
		<dict>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>69BB2A4B-A7E0-4FD0-9287-C959D3D02DE4</key>
		<dict>
			<key>xpos</key>
			<integer>1315</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>700FFC44-483B-4E84-AF40-C94F3A3C1A3D</key>
		<dict>
			<key>xpos</key>
			<integer>1055</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>72F3B05C-CB19-4911-9929-55604EAC3B55</key>
		<dict>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>9370FD51-0EDB-44CD-93D0-23F8A9FF8F5C</key>
		<dict>
			<key>xpos</key>
			<integer>1310</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>95822C22-1980-4E39-B7B7-3BCC0C802965</key>
		<dict>
			<key>xpos</key>
			<integer>2015</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>A0B0AA7A-4BE9-4666-86C4-FFE54BAFD0BD</key>
		<dict>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>775</integer>
		</dict>
		<key>ADAF2130-ABB2-4C95-9162-EDF4303930A6</key>
		<dict>
			<key>xpos</key>
			<integer>1295</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>BB45C395-9564-4CB1-A5A4-60AA509B4F17</key>
		<dict>
			<key>xpos</key>
			<integer>1565</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>EB47255F-26F6-4366-9811-1D663A29E1DF</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>EFDB9924-0B68-4DF4-BA83-E3AE64831F5E</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>F07F347E-EC9F-46CC-AF1B-75EE1416FC16</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>F2637605-829D-4FF8-9ABE-36777000F685</key>
		<dict>
			<key>xpos</key>
			<integer>1575</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>F359ED22-BB85-478B-BC56-A95D992AF1F1</key>
		<dict>
			<key>xpos</key>
			<integer>1570</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>F436BE5B-8C3D-47E8-9A07-2EA3EC0ED37C</key>
		<dict>
			<key>xpos</key>
			<integer>785</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>cacheMaxAge</key>
		<string>3600000</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
